@model Practica_5.Models.Eventos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Eventos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MotivoDeSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotivoDeSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaVisita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaVisita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horaEntrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaEntrada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.horaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaSalida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactoQuienLoRecibio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactoQuienLoRecibio)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
